@use 'helpers' as *;

html {
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarBg);
    border-radius: var(--scrollbarWidth);
  }
}

body {
  @include fluid-text(16, 12);

  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-light);

  &::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }

  &.is-lock {
    overflow: hidden;
  }
}

h1,
.h1 {
  @include fluid-text(50, 30);

  font-weight: 800;
}

h2,
.h2 {
  @include fluid-text(40, 28);

  font-weight: 600;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

a,
button,
label,
textarea,
input,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  // сбрасываем подчёркивание только ссылок, у которых есть класс
  &[class] {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
}
