:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light: #f9f9f9;
  --color-light-alt: #f2f2f3;
  --color-orange: #ff7020;
  --color-orange-alt: #ff5c00;
  --color-accent: #ffab08;
  --color-accent-alt: #f86310;
  --color-gray: #b1b1b1;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}
