.sidebar-cart {
	width: 300px;
	min-height: 109px;
	background-color: var(--color-white);
	border-radius: 18px;
	position: sticky;
	top: 10px;
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
	grid-area: sidebar-cart;
}

.sidebar-cart__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar-cart__title {
	font-size: 24px;
}

.sidebar-cart__counter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 20px;
	background-color: var(--color-light-alt);
	border-radius: 6px;
	font-size: 12px;
}
