.section {
	padding: 60px 0 100px 0;
}

.section__layout {
	display: grid;
	grid-template-columns: 330px 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"sidebar-cart products"
		". products";
	row-gap: 24px;
	margin-bottom: 65px;
}

.section__products-wrapper {
	grid-area: products;
}
